{% extends 'donaciones/base_donaciones.html' %}
{% load static %}


{% block content %}
{% include 'includes/header.html' %} 


    <style type="text/css"> #id_detalle ,{ width: 400px; height: 250px;} </style>
<div class="flex-container align-center" id="fuente">
    <form action="{% url 'donaciones_app:add_donacion' %}" method="POST">{% csrf_token %}
        {{form.as_p}}
    
    <button class="button" type="submit">Donar</button>
    </form>
</div>
{% include 'includes/footer.html' %}
{% endblock content %}
    